/* src/NavBar.css */


body {
    font-family: Arial, sans-serif; /* Establecer una fuente por defecto */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo opcional para todo el cuerpo */
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; /* Resetear el padding para asegurarte de que no haya espacio adicional */
}

.navbar-links li {
    margin: 0 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}
